# Docs for the Azure Web Apps Deploy action: https://github.com/Azure/webapps-deploy
# More GitHub Actions for Azure: https://github.com/Azure/actions

name: Build and deploy container app to Azure Web App - thomasturners

on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  build:
    runs-on: 'ubuntu-latest'

    steps:
    - uses: actions/checkout@v2

    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v1

    - name: Log in to registry
      uses: docker/login-action@v1
      with:
        registry: https://thomasturners.azurecr.io/
        username: ${{ secrets.AzureAppService_ContainerUsername_526cb560143a4666ab72de38b67f1abc }}
        password: ${{ secrets.AzureAppService_ContainerPassword_09fde01fcef847e1a5a7155023592dbf }}

    - name: Build and push container image to registry
      uses: docker/build-push-action@v2
      with:
        push: true
        tags: thomasturners.azurecr.io/${{ secrets.AzureAppService_ContainerUsername_526cb560143a4666ab72de38b67f1abc }}/thomasturners:${{ github.sha }}
        file: ./Dockerfile

    - name: npm install, build, and test
        run: |
          npm install
          npm install jest
          npm install -g jest ts
          npm run build --if-present
          npm run test --if-present
          npx jest

  deploy:
    runs-on: ubuntu-latest
    needs: build
    environment:
      name: 'production'
      url: ${{ steps.deploy-to-webapp.outputs.webapp-url }}

    steps:
    - name: Deploy to Azure Web App
      id: deploy-to-webapp
      uses: azure/webapps-deploy@v2
      with:
        app-name: 'thomasturners'
        slot-name: 'production'
        publish-profile: ${{ secrets.AzureAppService_PublishProfile_3f85e9ea9e4b4eb6b850745720c9125b }}
        images: 'thomasturners.azurecr.io/${{ secrets.AzureAppService_ContainerUsername_526cb560143a4666ab72de38b67f1abc }}/thomasturners:${{ github.sha }}'